<!-- ============================= -->
<!-- Home page index.html.erb file  -->
<!-- ============================= -->

    <!--  ==========  -->
    <!--  = Main container =  -->
    <!--  ==========  -->
	<div class="main-container">

    <!--  ==========  -->
    <!--  = Most Popular products =  -->
    <!--  ==========  -->
    <div class="most-popular blocks-spacer">
      <div class="container">

				<!--  ==========  -->
	 			<!--  = Title =  -->
				<!--  ==========  -->
				<div class="row">
					<div class="span12">
                <div class="main-titles lined">
									<h3 class="title light size-16" style="font-style: italic;">Sweets for Delivery in <span class="brand-clr bold" style="font-style:normal;">Manhattan</span></h3>
										<!--								
										<h3><span class="title light size-16" style="font-style: italic;">Sweets for Delivery in </span>
										<span class="title brand-clr bold" style="font-style:normal;">Manhattan</span></h3>
									-->
								</div>
            </div>
					</div> <!-- /title -->

	 				<div class="row popup-products">

						<!--  ==========  -->
						<!--  = Product =  -->
						<!--  ==========  -->

						<!--  = Looping through all products  =  -->
						<!--  = Need to add code for moving every 3 add'l products to a new row  =  -->
						<!--  = Also need to limit products shown on one page... maybe just top 12 for now  =  -->
						<!--  = Or can do a facebook loading ability where scroll to bottom brings up more products =  -->
 
						<% @product = Product.all %>
						<%# @product.each do |product| %> <!-- Code for showing all products in Product array -->

							<% x = 1 %>
							<% while x<=9 %>
							<% product=@product.find(x) %>  <!-- Show only 9 products at first -->
							<% vendor = Vendor.find(product.vendor_id) %>

							<%# @product.each do |product| %> <!-- Code for showing all products in Product array -->

							<div class="span4">
								<div class="product">
									<div class="product-inner">

										<div class="product-img">
											<div class="picture">
												<a href="product/<%=product.id%>"><img src="images/<%= product.photo %>" alt="" width="540" height="374" /></a>
												<div class="img-overlay">
													<a href="product/<%=product.id%>" class="btn more btn-primary">More</a>
													<a href="#" class="btn buy btn-danger">Add to Cart</a>
												</div>
											</div>
										</div>
										<div class="main-titles no-margin no-padding">

											<a href="product/<%=product.id%>"><h4 class="product_name no-margin"><%= product.name %></h4></a>
											<a href="product/<%=product.id%>"><h4 class="price">$<%= product.price %></h4></a>
											<a href="vendor/<%= vendor.id %>"><h5 class="product_vendor"><%= vendor.name %></h5></a>
													
										</div>
										<p class="desc"><%= product.description %></p>

										<div class="row-fluid hidden-line">
											<div class="span6">
												<a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
												<a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
											</div>
											<div class="span6 align-right">
												<span class="icon-star stars-clr"></span>
												<span class="icon-star stars-clr"></span>
												<span class="icon-star stars-clr"></span>
												<span class="icon-star stars-clr"></span>
												<span class="icon-star stars-clr"></span>
											</div>
										</div>
									</div>
								</div>

							</div> <!-- /product -->

						<% x += 1 %>
						<% end %>
					</div>  <!-- row popup spacer -->
				</div>
		</div> <!-- /most popular -->


<% # Removing brand logos from index page  %>
<% # Could use this code to show recognizations (by other websites, mags, etc.)  %>
<% if false  %>
    <!--  ===================  -->
    <!--  = Brands Carousel =  -->
    <!--  ===================  -->
  <div class="container blocks-spacer-last">

    <!--  ==========  -->
    <!--  = Title =  -->
    <!--  ==========  -->
    <div class="row">
        <div class="span12">
          <div class="main-titles lined">
                  <h2 class="title"><span class="light">Our</span> Brands</h2>
                    <div class="arrows">
                        <a href="#" class="icon-chevron-left" id="brandsLeft"></a>
                        <a href="#" class="icon-chevron-right" id="brandsRight"></a>
                    </div>
              </div>
        </div>
    </div> <!-- /title -->

    <!--  ==========  -->
    <!--  = Logos =  -->
    <!--  ==========  -->
    <div class="row">
        <div class="span12">
          <div class="brands carouFredSel" data-nav="brands" data-autoplay="true">
						<img src="images/levain_logo.gif" alt="" width="203" height="104" />
						<img src="images/ladym_logo.jpg" alt="" width="203" height="104" />
					</div>
        </div>
    </div> <!-- /logos -->
  </div> <!-- /brands carousel -->
<% end  %>
<% # Finish removal of brand logo carousel  %>

</div> <!-- /main container -->
