<!--  ===========================  -->
<!--  = Footer _footer.html.erb =  -->
<!--  ===========================  -->
    <footer>

        <!--  ==========  -->
        <!--  = Upper footer =  -->
        <!--  ==========  -->
        <div class="foot-dark">
            <div class="container">
							<div class="row">  <!-- row-container for entire upper footer area -->

								<div class="span4">  <!-- left-most third of upper footer area -->
									<img src="images/sweetist-logo-nobg.png" alt="Sweetist Logo" width="300px" class="align-baseline" style="margin-bottom: -20px; margin-top: -20px;">
									<!--									<h2 class="pacifico main-titles"><img src="images/sweetist-logo-cropped.png" alt="Sweetist Logo" width="300px" class="align-baseline" /></h2>  -->
									<p class="size-14">The best local desserts and sweets delivered to your door!</p>
									<div class="span6 size-14 no-margin">
										&copy; 2014 Sweetist, Inc.
									</div>
								</div>

								<div class="span4 size-14">  <!-- middle third of upper footer area -->
									<div class="main-titles no-margin">
										<h3 class="title no-margin"><span class="size-16">GET TO KNOW US</span></h3>
									</div>
									<div class="nav upper-footer-row3">
										<div class="row3-2column-element first-child">
											<a href="#">About Us</a>
										</div>
										<div class="row3-2column-element">
											<a href="#">Blog</a>
										</div>
									</div>

									<div class="nav upper-footer-row3">				
										<div class="row3-2column-element first-child">
											<a href="#">How It Works</a>
										</div>
										<div class="row3-2column-element">
											<a href="#">Legal & Privacy</a>
										</div>
									</div>
													
									<div class="nav upper-footer-row3">
										<div class="row3-2column-element first-child">
											<a href="#">Delivery Options</a>
										</div>
										<div class="row3-2column-element">
											<a href="#"></a>
										</div>
									</div>
								</div>

								<div class="span4">  <!-- right-most third of upper footer area -->
									<div class="main-titles no-margin">
										<h3 class="title"><span class="size-16">TALK TO US</span></h3>
									</div>

									<div class="nav upper-footer-row3 size-16 contact-us">
										Need anything? Please reach out to us: 
									</div>
									<div class="nav upper-footer-row3 size-16 push-down-30">
										<p><a href="#">help@sweetist.co</a>
									</div>

									<h3 class="title size-16" style="padding-top: 10px;"><p>KEEP UP WITH US</h3>
										<div class="nav upper-footer-row3 size-16">
											<a href="https://www.facebook.com"><span class="zocial-facebook"></span></a>
											<a href="https://www.facebook.com"><span class="zocial-instagram"></span></a>
											<a href="https://twitter.com/itswenson"><span class="zocial-twitter"></span></a>
											<a href="https://twitter.com/itswenson"><span class="zocial-googleplus"></span></a>
										</div>
									</div>

<!--										<p>Sign up to stay on top of deals and steals!</p>    -->
                        <!-- Begin MailChimp Signup Form -->
<!--
												<div id="mc_embed_signup">
                        <form action="https://#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form form-inline" target="_blank" novalidate>
                            <div class="mc-field-group">
                                <input type="email" value="" placeholder="Enter your e-mail address" name="EMAIL" class="required email" id="mce-EMAIL">
                                <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>

                        </form>
											</div>
-->
                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>
        </div> <!-- /upper footer -->

    </footer> <!-- /footer -->

    <!--  ====================================  -->
    <!--  =========== Modal Windows ==========  -->
    <!--  = Devise Registration/Sign in Code =  -->
    <!--  ====================================  -->

    <!--  = Login =  -->
		<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true"> 

        <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="loginModalLabel"><span class="light">Login</span> To Webmarket</h3>
        </div>
        <div class="modal-body">
            <form method="post" action="#">
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputEmail">Username</label>
                    <div class="controls">
                        <input type="text" class="input-block-level" id="inputEmail" placeholder="Username" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputPassword">Password</label>
                    <div class="controls">
                        <input type="password" class="input-block-level" id="inputPassword" placeholder="Password" required>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox">
                            Remember me
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary input-block-level bold higher">
                    SIGN IN
                </button>
            </form>
            <p class="center-align push-down-0">
                <a data-toggle="modal" role="button" href="#forgotPassModal" data-dismiss="modal">Forgot your password?</a>
            </p>
        </div> -->

        <div class="body_stuff devise">
          <h2>Sign in</h2>

              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                <div><%= f.label :email %><br />
                <%= f.email_field :email, :autofocus => true %></div>

                <div><%= f.label :password %><br />
                <%= f.password_field :password %></div>

                <% if devise_mapping.rememberable? -%>
                  <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
                <% end -%>

                <div><%= f.submit "Sign in" %></div>
<%= devise_error_messages! %>
                <i>
        <br>
                  * * *<br>
                  for demonstration purposes -<Br>
                  login: demo@demo.com<Br>
                  password: demodemo<Br>
                  * * *
                </i>

              <% end %>

        <br>
        <%= render "devise/shared/links" %>

			</div>


    </div>



    <!--  = Register =  -->
    <div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="registerModalLabel"><span class="light">Register</span> To Webmarket</h3>
        </div>
        <div class="modal-body">
            <form method="post" action="#">
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputUsernameRegister">Username</label>
                    <div class="controls">
                        <input type="text" class="input-block-level" id="inputUsernameRegister" placeholder="Username" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputEmailRegister">Email</label>
                    <div class="controls">
                        <input type="email" class="input-block-level" id="inputEmailRegister" placeholder="Email" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputPasswordRegister">Password</label>
                    <div class="controls">
                        <input type="password" class="input-block-level" id="inputPasswordRegister" placeholder="Password" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-danger input-block-level bold higher">
                    REGISTER
                </button>
            </form>
            <p class="center-align push-down-0">
                <a data-toggle="modal" role="button" href="#loginModal" data-dismiss="modal">Already Registered?</a>
            </p>

        </div> -->

        <div class="body_stuff devise">
          <h2>Sign up NOW BITCHES</h2>
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div><%= f.label :first_name %><br />
								<%= f.text_field :first_name, :autofocus => true %></div>

								<div><%= f.label :last_name %><br />
								<%= f.text_field :last_name, :autofocus => true %></div>

                <div><%= f.label :email %><br />
                <%= f.email_field :email, :autofocus => true %></div>

                <div><%= f.label :password %><br />
                <%= f.password_field :password %></div>

                <div><%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation %></div>

                <div><%= f.submit "Sign up" %></div>
              <% end %>
        </div>
        <br><br>


    </div>




    <!--  = Forgot your password =  -->
    <div id="forgotPassModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="forgotPassModalLabel" aria-hidden="true">


        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="forgotPassModalLabel"><span class="light">Forgot</span> your password?</h3>
        </div>
        <div class="modal-body">
            <form method="post" action="#">
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputUsernameRegister">Username</label>
                    <div class="controls">
                        <input type="text" class="input-block-level" id="inputUsernameRegister" placeholder="Username">
                    </div>
                </div>
                <p class="center-align">OR</p>
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputEmailRegister">Email</label>
                    <div class="controls">
                        <input type="email" class="input-block-level" id="inputEmailRegister" placeholder="Email">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary input-block-level bold higher">
                    SEND ME A NEW PASSWORD
                </button>
            </form>
					</div>

			</div>

